# Relatório de Análise II

## Tipos de Imóveis

In [2]:
import pandas as pd

In [5]:
## Lendo os dados
dados = pd.read_csv('data/aluguel.csv', sep=';')
dados.head(10)

In [50]:
## Verificando os tipos de móveis

# Selecionando a coluna de 'Tipo'
tipo_de_imovel = dados['Tipo']

# Removendo as duplicatas
tipo_de_imovel.drop_duplicates(inplace=True)

tipo_de_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

## Organizando a visualização

In [51]:
# Transformando a série em um DataFrame
tipo_de_imovel = pd.DataFrame(tipo_de_imovel, columns= ["Tipo"])

# Resentando o index
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])

# Nomeando o index
tipo_de_imovel.columns.name = "Id" 

tipo_de_imovel

Id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria