# Relatório de Análise V

## Tratamento de Dados Faltantes

In [1]:
import pandas as pd

In [3]:
dados = pd.read_csv('data/aluguel_residencial.csv', sep=';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [4]:
## Verificando os valores nulos da coluna 'Valor'
dados[dados['Valor'].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
58,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
1492,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN
1683,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN
2012,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0
2034,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN
4941,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN
8568,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN
8947,Apartamento,Glória,3,0,1,135,NaN,910.0,228.0
9149,Apartamento,Gávea,3,1,1,105,NaN,880.0,221.0

## Tratamento de Dados Faltantes (continuação)

In [6]:
## Verificando quantos dados nulo o condominio tem
dados[dados['Condominio'].isnull()].shape[0]

1815

In [9]:
## Verificando quais Apartamentos possui dados nulos
selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

In [18]:
## Removendo os apartamentos onde o condominio é nulo
dados = dados[~selecao]

C:\Users\JOSE~1.RIB\AppData\Local\Temp/ipykernel_31360/1132723936.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dados = dados[~selecao]

In [21]:
## Condominio nulo e iptu nulo serão agora de valor 0
dados = dados.fillna({'Condominio': 0, 'IPTU': 0});

0

In [22]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21835 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        21835 non-null  object
 1   Bairro      21835 non-null  object
 2   Quartos     21835 non-null  int64
 3   Vagas       21835 non-null  int64
 4   Suites      21835 non-null  int64
 5   Area        21835 non-null  int64
 6   Valor       21826 non-null  float64
 7   Condominio  21835 non-null  float64
 8   IPTU        21835 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [23]:
dados.to_csv('data/aluguel_residencial.csv', sep=';', index= False)