# Relatório de Análise V

## Tratamento de Dados Faltantes

In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('data/aluguel_residencial.csv', sep=';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0

In [4]:
## Verificando os valores nulos da coluna 'Valor'
dados[dados['Valor'].isnull()]

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

## Tratamento de Dados Faltantes (continuação)

In [5]:
## Verificando quantos dados nulo o condominio tem
dados[dados['Condominio'].isnull()].shape[0]

0

In [6]:
## Eliminando os registros que não tem a variável Valor
dados.dropna(subset = ['Valor'], inplace= True)

In [7]:
## Verificando quais Apartamentos possui dados nulos
selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

In [8]:
## Removendo os apartamentos onde o condominio é nulo
dados = dados[~selecao]

In [9]:
## Condominio nulo e iptu nulo serão agora de valor 0
dados = dados.fillna({'Condominio': 0, 'IPTU': 0});

In [ ]:
## Resetando o index
dados.index = range(dados.shape[0])
dados

In [11]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21826 entries, 0 to 21825
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        21826 non-null  object
 1   Bairro      21826 non-null  object
 2   Quartos     21826 non-null  int64
 3   Vagas       21826 non-null  int64
 4   Suites      21826 non-null  int64
 5   Area        21826 non-null  int64
 6   Valor       21826 non-null  float64
 7   Condominio  21826 non-null  float64
 8   IPTU        21826 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.5+ MB

In [12]:
dados.to_csv('data/aluguel_residencial.csv', sep=';', index= False)